<?xml version="1.0" encoding="UTF-8"?>
<!-- beans 的约束 -->
<beans 
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
   	   http://www.springframework.org/schema/beans/spring-beans.xsd
 	   http://www.springframework.org/schema/context
 	   http://www.springframework.org/schema/context/spring-context.xsd
 	   http://www.springframework.org/schema/aop
 	   http://www.springframework.org/schema/aop/spring-aop.xsd
 	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx.xsd"> 

    <!-- 加载 jdbc.properties 文件 -->
    <context:property-placeholder location="classpath:jdbc.properties" />
	
	<!-- 创建 c3p0 连接池 -->
	<!-- 加载资源文件中的配置 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" 
		destroy-method="close">
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- Spring 整合 Hibernate -->
	<bean id="sessionFactory" 
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<!-- 是否输出 SQL 语句 -->
				<prop key="hibernate.show_sql">true</prop>
				<!-- 自动维护表 -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<!-- 扫描实体所在的包 -->
			<list>
				<value>com.mapeak.smis.domain</value>
			</list>
		</property>
	</bean>
	
	<!-- 开启 Spring 的事务管理 -->
	<!-- 使用注解的方式使用事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager" 
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 开启 Spring 注解功能 -->
	<!-- base-package：IOC 注解的类所在包，即包的范围，Spring 也会扫描该包的子包 -->
	<context:component-scan base-package="com.mapeak.smis" />

</beans>